In [2]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp311-cp311-macosx_11_0_arm64.whl (11.3 MB)
Collecting numpy>=1.23.2 (from pandas)
  Using cached numpy-2.2.6-cp311-cp311-macosx_14_0_arm64.whl (5.4 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ssbedi/Desktop/prabhmehar_loopai/venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Requirement already satisfied: six>=1.5 in /Users/ssbedi/Desktop/prabhmehar_loopai/venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.6 pandas-2.2.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 23.1.2 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import os

In [10]:
# menu_hours.csv
menu_hours = pd.read_csv('menu_hours.csv')
print(menu_hours.shape)
menu_hours.head(10)

(35457, 4)

,store_id,dayOfWeek,start_time_local,end_time_local
0,d84a4552-3668-4075-ad1d-16840294f818,1,00:00:00,00:01:00
1,d84a4552-3668-4075-ad1d-16840294f818,3,00:00:00,00:01:00
2,d84a4552-3668-4075-ad1d-16840294f818,4,00:00:00,00:01:00
3,d84a4552-3668-4075-ad1d-16840294f818,0,00:00:00,00:01:00
4,d84a4552-3668-4075-ad1d-16840294f818,5,00:00:00,00:01:00
5,d84a4552-3668-4075-ad1d-16840294f818,6,00:00:00,00:01:00
6,d84a4552-3668-4075-ad1d-16840294f818,2,00:00:00,00:01:00
7,bad8cf9f-5201-4da2-a1c8-87787537a0be,4,00:00:00,00:01:00
8,bad8cf9f-5201-4da2-a1c8-87787537a0be,0,00:00:00,00:01:00
9,bad8cf9f-5201-4da2-a1c8-87787537a0be,5,00:00:00,00:01:00

In [11]:
# timezones.csv
timezones = pd.read_csv('timezones.csv')
print(timezones.shape)
timezones.head(10)

(4559, 2)

                               store_id    timezone_str
0  f6e4d870-a273-49cf-be4d-1bf529e26ff3   America/Boise
1  7fa112c6-fd3a-4ff6-aadb-4b55f2e74048   America/Boise
2  273c2570-da54-4526-ab33-175e4d7a1609   America/Boise
3  bad3c0e6-ad67-40b4-aca8-ce1046b25d68   America/Boise
4  0df89218-fde7-4fc6-83da-1c2fc7b480a0   America/Boise
5  1e9bbb65-4c00-4f13-80d4-4f93b7ade7fd   America/Boise
6  835d6a6d-5de1-4cd2-945f-4a5d62c7bb20   America/Boise
7  652917e6-645f-4af4-b52e-13ce1bccdbc9  America/Denver
8  19d54cc6-cad3-4afe-8078-99bbdef99d26  America/Denver
9  d426c21e-2b3c-4523-9bea-c47dceb93932  America/Denver

In [12]:
# store_status.csv
store_status = pd.read_csv('store_status.csv')
print(store_status.shape)
store_status.head(10)

(1849837, 3)

,store_id,status,timestamp_utc
0,b5d0a65d-6d54-47aa-95e9-9312f0353326,active,2024-10-03 23:33:20.412748 UTC
1,a792089b-e23d-435f-bc18-113b7cc95e11,active,2024-10-03 23:33:36.781143 UTC
2,7a242d0e-309c-4915-9755-e9019d69108d,active,2024-10-03 23:33:37.536328 UTC
3,ca793240-b974-4551-ba0b-649d1a52956c,active,2024-10-03 23:33:56.752347 UTC
4,3a2313be-27d9-429f-9906-ccd142d9906c,active,2024-10-03 23:34:04.138852 UTC
5,474b6ebc-d09f-4270-aad1-d8b4bfd0d98c,active,2024-10-03 23:34:06.15508 UTC
6,be7041f0-8d78-44c5-afcc-6e6b5f339119,active,2024-10-03 23:34:09.738372 UTC
7,5ff4f817-e978-49a1-acac-20f4b1a886e0,active,2024-10-03 23:34:17.383023 UTC
8,f2b972e3-64af-41e0-a723-8696289e3cb5,inactive,2024-10-03 23:34:20.51781 UTC
9,d608c50a-4725-4c02-bbaa-3771509914aa,active,2024-10-03 23:34:24.307392 UTC